.player_control-icon {
    cursor: pointer;
    font-size: 2rem;
}

.player_control-icon-white {
    color: #fafafa;
    font-size: 3rem;
}

.player_control-play-button {
    border-radius: 100%;
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 300ms;
}